[submodule "danielljeon"]
	path = danielljeon
	url = https://github.com/danielljeon/danielljeon
[submodule "docs"]
	path = docs
	url = https://github.com/danielljeon/docs
[submodule "embedded/lamp"]
	path = embedded/lamp
	url = https://github.com/danielljeon/lamp
